body    {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    line-height: 1.5rem;    
}


h1 {
    font-family: 'Righteous', cursive;
    text-shadow: 1px 2px black;
    color: white;
}

h2  {
    font-weight: bolder;
    color: rgba(194, 109, 12, 0.921);
    text-shadow: 1px 1px black;
}

header, footer  {
    background-color: rgba(194, 109, 12, 0.921);
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 20px;
}

img {
    float: right;
    box-shadow: 1px 1px 5px 10px rgba(194, 109, 12, 0.921);
    border-radius: 15%;
    margin: 0 5px 15px 0;
}

main    {
    padding: 0 20px 3px 15px;
}

a    {
    color: blue;
}

a:hover {
    color: rgb(7, 66, 7);
}