body    {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    line-height: 1.5rem;
    background-color: black; 
    color: white; 
    font-size: 17px;  
}


h1 {
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px black;
}

h2  {
    text-shadow: 1px 1px white;
}

header, footer  {
    background-color: green;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}

img {
    float: right;
    box-shadow: 1px 1px 5px 8px green;
    border-radius: 15%;
    margin: 0 3px 15px 0;
}

main    {
    padding: 0 20px 3px 15px;
}

a    {
    color: orange;
}

a:hover {
    color: orangered;
}