@media (min-width:32.5em) {
   
    body    {
        font-size: 1rem;
    }

    .heading  {
        padding: .7rem;
    }

    #logo    {
        width: 5.5rem;
    }

    h1  {
        font-size: 1.6rem;
    }

    p   {
        font-size: .95rem;
    }

    .navigation     {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li  {
        display:  block;
        flex: 1 1 auto;
        justify-content: center;
    }

    .navigation a   {
        text-align: center;
    }


    .heroSummary    {
        position: absolute;
        top: 14%;
        left: 3%;
        box-shadow: 0 0 10px 2px  whitesmoke;
        padding-top: 1rem;
        border-radius: 1rem;
        opacity: .95;
    }
    
    .heroSummary h3 {
        padding: 0;
        margin-top: -.2rem;
        margin-bottom: 5px;
        font-size: 1.2rem;
    }
    
    .heroSummary hr {
        margin-bottom: 10px;
    }

    .stats span {
        font-size: .9rem;
    }

    .stats-container p  {
        font-size: .8rem;
    }

    .stats-container    {
        line-height: 1.5;
    }

    .stats  {
        padding: 0 1rem 0 0;
    }

    .weatherSummary {
        display: block;
        margin: 3rem auto;
        max-width: 700px;
    }

    .weatherSummary h3  {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .weatherTable {
        display: flex;
        justify-content: center;
        margin: 0 5rem;
    }

    .weatherTable div {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(13, 9, 146);
        align-items: center;
        justify-content: space-between;
    }

    .weatherTable div span {
        padding: 15px 10px;
        font-size: 1rem;
        font-weight: 900;
    }

    .weather {
        width: 70px;
    }

    .day  {
    
        background-color: rgb(13, 9, 146);
        color: white;
    }

    .temp  {
        background-color: rgb(13, 9, 146);
        color: white;
    }

    .weatherTable img {
        justify-self: center;
    }

    article img {
        float: right;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    footer img {
        max-height: 300px;
    }

    .top-footer div #contact-info {
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    .social img {
        width: 40px;
    }

    #linkedin   {
        width: 36px;
    }

    article {
        margin-bottom: 3rem;
    }

    article h3 {
        font-size: 1.5rem;

    }

    article p {
        font-size: 1rem;
    }

    article a {
        font-size: 1rem;
    }


    h3:not(article h3, #h3-stats, #contact-info)  {
        background-color: rgb(255, 215, 15);
        padding: .8rem;
        border-radius: 2rem 2rem 0 0;
        box-shadow: 0 0 15px 3px rgb(4, 4, 65);
    }

    .events-box {
        margin: 1rem 0 0 0;
        width: 100%;
        
    }

    .events   {
        margin: .8rem 1rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .events-container   {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }

    h3#upcoming-events  {
        font-size: 1.4rem;
        color: rgb(255, 215, 15);
        background: none;
        border-radius: 0;
        box-shadow: none;
    }

    #gallery    {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        column-gap: .3rem;
        padding: .5rem .8rem;
    }

    #gallery div    {
        margin: .5rem;
    }

    #gallery figcaption {
        padding-top: .6rem; 
        padding-left: 0;    
        padding-right: 0;
        text-align: center;
        padding-bottom: .8rem;  
    }

    form    {
        max-width: 26rem;
        margin: 1rem auto;
    }

    label   {
        font-size: 1.1rem;
    }

    legend  {
        font-size: 1.2rem;
    }

    label.top input, select, textarea   {
        max-width: 24rem;
        font-size: 1.1rem;
    }

    input[type="range"]   {
        max-width: 24rem;
    }

    form button {
        max-width: 24rem;
    }  
    
    
    /***** HOMEPAGE ******/
    .homepage-section   {
        display: flex;
        position: static;
        max-width: 100%;
        font-weight: 600;
        margin: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 8px rgb(13, 9, 146);
        background: linear-gradient(to bottom, rgb(13, 9, 146) 0%, rgb(13, 9, 146) 50%, rgb(255, 215, 15) 50%, rgb(255, 215, 15) 100%);
    }
    
    .homepage-div   {
        max-width: 100%;
        flex: 1 1 100%;
        min-height: 0;
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        padding: 1rem 1rem 0 1rem;
        border-radius: 0;
        margin: 0 auto 0 auto;
        border-left: 1px solid whitesmoke;
        border-radius: 0 1rem 1rem 0;
        background: none;
        box-shadow: 0 0 5px rgb(13, 9, 146);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3rem;
    }

    .homepage-section:nth-child(odd)   {
        flex-direction: row-reverse;
        border-left: none;
    }

    .homepage-section:nth-child(odd) .homepage-div  {
        border-radius: 1rem 0 0 1rem;
        border-right: 1px solid white;
        border-left: 0;
    }

    #fish-haven-img {
        border-radius: 1rem  0 0 1rem;
    }

    .homepage-section:nth-child(odd) picture   {
        padding: 1rem 1rem 1rem 0;
    }


    fish-haven-container-home homepage-section
    
    .homepage-div span  {
        color: white;
        padding: .6rem;
    }
    
    .town-detail    {
        margin-top: 1rem;
        line-height: 1.7;
        max-width: none;
        color: rgb(4, 4, 65);
    }
    
    .homepage-section picture   {
        max-width: 100%;
        flex: 1 1 100%;
        height: 300px;
        display: block; 
        position: static; 
        top: 0; 
        left: 0;
        padding: 1rem 0 1rem 1rem; 
    }
    
    .soda-springs-container-home .town-detail   {
        margin-top: 0;
    }
    
    .soda-springs-container-home picture    {
        top: none;
    }
    
    .homepage-section picture img    {
        margin-top: 0;
        height: 100%;
        width: 100%;
        border-radius: 0 1rem 1rem 0;
        box-shadow: 0 0 8px rgb(13, 9, 146);
    }
    
    .homepage-section h2     {
        margin: -1.5rem 0 .5rem 0;
        padding: 0;
        color: white;
    } 

    main.wireframe img  {
        max-width: 300px;
    }

    .views  {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }

    #searchArea {
        max-width: 400px;
    }
}