*   {
    margin: 0;
    padding: 0;
}

body    {
    text-align: center;
    background-color: blanchedalmond;
    color: rgb(93, 53, 1);
    font-family: 'Comfortaa', cursive;
}

p   {
    line-height: 1.5;
}

h1  {
    text-shadow: 1px 1px brown;
    font-family: 'DM Serif Display', serif;
    font-size: 2.1rem;
}

h2  {
    color: rgb(93, 53, 1);
    font-family: 'Yeseva One', cursive;
    text-shadow: 1px 1px beige;
    margin-bottom: 1rem;   
}

section div    {
    background-color: blanchedalmond;
    color: brown;
    padding: .5rem .8rem;
    width: .5rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
    font-size: .9rem;
    box-shadow: 0 0 5px brown;
    font-weight: 600;
    transition: 1s;
}

img {
    max-width: 100%;
    width: 160px;
    height: 200px;
    margin-top: .6rem;
}

section {
    border: 1px solid #eee;
    margin: 1.5rem 1rem 0 1rem;
    padding: 1rem .5rem;
    background-color: ghostwhite;
    box-shadow: 0 0 5px gray;
}

section:hover div  {
    transform: rotate(360deg);
    background-color:rgb(93, 53, 1);
    color: aliceblue;
}

header, footer  {
    color: white;
    box-shadow: 0 0 10px 2px grey;
    background-color: rgb(93, 53, 1); 
    padding: 1.5rem 1rem;
  
}

header  {
    margin-bottom: 1.5rem;
}

footer  {
    font-weight: 600;
    padding: 1.8rem 1rem;
    margin-top: 2rem;
    font-size: .9rem;

}

@media (min-width: 32.5em)  {
    div.cards   {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h1  {
        font-size: 2.4rem;
    }

    section {
        margin: .5rem .5rem;
    }

    footer  {
        font-size: 1.3rem;
    }
}

@media (min-width: 64em)  {
    div.cards   {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 1rem;
    }
}