@media  (min-width: 64em)   {
    body    {
        font-size: 1.3rem;
    }

    h1  {
        font-size: 2rem;
        margin-left: -.2rem;
    }
    .heading div   {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    header  {
        padding: 0;
    }

    .heading  {
        padding: .5rem;
    }

    .heading img    {
        width: 7rem;
    }

    header span {
        font-size: medium;
    }

    nav {
        max-width: 1100px;
        margin: 0 auto;
    }

    p   {
        font-size: 1.1rem;
    }

    .navigation a   {
        font-size: 1.1rem;
    }

    .navigation li  {
        flex: 1 1 auto;
    }

    #hero-img   {
        border-radius: 2rem 15rem 2rem 2rem;
        border-top: 2rem solid rgb(255, 215, 15);
        box-shadow: 0 0 10px 3px rgb(4, 4, 65);
        width: 960px;
        padding: 0;
    }

    .heroSummary    {
        top: 27%;
    }

    article h3 {
        text-align: left;
    }

    h2    {
        margin: 2rem 0 1.5rem 0;
    }

    main {
        max-width: 960px;
        margin: 0 auto;
    }

    .weatherSummary {
        margin: 3rem 0;
    }

    .top-footer {
        display: flex;
        column-gap: 5rem;
        justify-content: center;
        padding: 3rem 0 2rem 0;
        font-size: 1rem;
        max-width: 1100px;
        margin: 0 auto;
        align-items: center;
    }

    .top-footer img {
        margin-top: 0;
        max-width: 500px;
    }

    .top-footer div #contact-info {
        color: rgb(4, 4, 65);
        background-color: rgb(255, 215, 15);
        padding: .6rem;
        margin-bottom: .7rem;
        border-radius: 2rem 2rem 0 0;
        box-shadow: 0 0 15px 3px rgb(4, 4, 65);
        font-size: 1.3rem;
        max-width: 500px;
        font-weight: 900;
    }

    .top-footer .contact {
        margin: 0;
        box-shadow: none;
    }

    .top-footer div {
        min-width: 350px;
    }

    .close  {
        background-color: rgb(255, 215, 15);
        padding: 1.2rem;
        margin-top: 1rem;
        border-radius: 0 0 2rem 2rem;
        box-shadow: 0 0 15px 3px rgb(4, 4, 65);
    }

    .social {
        margin-top: 10px;
    }

    #linkedin   {
        margin-top: 3px;
    }

    #gallery    {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: .5rem;
        row-gap: 2rem;
        padding: .5rem .8rem;
        font-size: .8rem;
    }

    #gallery div    {
        margin: .5rem;

        display: grid;
        align-items: center;
    }

    #gallery picture:hover img {
        box-shadow: 0 -6px 15px rgb(255, 215, 15);
    }

    #gallery picture:hover  figcaption {
        background-color: rgb(255, 215, 15);
        color: rgb(4, 4, 65);
        box-shadow: 0 0 10px rgb(255, 215, 15);
    }

    #gallery picture:hover {
        background-color: rgb(255, 215, 15);
    }

    form    {
        max-width: 30rem;
    }

    label   {
        font-size: 1.1rem;
    }

    legend  {
        font-size: 1.2rem;
    }

    label.top input, select, textarea   {
        max-width: 28rem;
        font-size: 1.1rem;
    }

    input[type="range"]   {
        max-width: 28rem;
    }

    form button {
        max-width: 28rem;
    }

    .home   {
        max-width: 960px;
    }

    .town-sections  {
        display: flex;
    }

    .homepage-section   {
        display: block;
        flex: 1 1 100%;
        margin: .5rem 1rem 3rem 1rem;
        padding: 0;
        background: none;
        font-size: .9rem;
        background-color: rgb(13, 9, 146);
        transition: 1s;
    }
    
    .homepage-section:hover {
        transform: scale(1.05);
        box-shadow: 0 0 12px rgb(4, 4, 65);
    }

    .homepage-div   {
        padding: 1rem 0 0 0;
        height: 50%;
        border-left: none;
        border-radius: 0 0 1rem 1rem;
        background: none;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 0;
        background: linear-gradient(to bottom, rgb(13, 9, 146) 50%, rgb(255, 215, 15) 50%);
   
    }

    .homepage-section:nth-child(odd)   {
        flex-direction: none;
        flex: 1 1 100%;
        border-left: none;
    }

    .homepage-section:nth-child(odd) .homepage-div  {
        border-radius: 0 0 1rem 1rem;
        border-right: 0;
        border-left: 0;
        margin: 0;
    }

    #fish-haven-img {
        border-radius: 1rem 1rem 0 0;
    }

    .homepage-section:nth-child(odd) picture   {
        padding: 0;
    }
    
    .homepage-div span  {
        color: white;
        padding: .6rem;
    }
  
    .town-detail    {
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        padding-bottom: 1.7rem;
    }
    
    .town-detail p    {
        font-size: .9rem;
        line-height: 2.2;
    }

    .town-detail p:nth-child(1) {
        margin-top: 1rem;
    }
    
    .homepage-section picture   {
        max-height: 50%;
        height: 100%;
        display: block;
        padding: 0;
        margin: 0; 
    }
    
    .homepage-section picture img    {
        margin-top: 0;
        height: 100%;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        box-shadow: none;
        box-shadow: none;
    }
    
    .homepage-section h2     {
        margin: 0 0 .5rem 0;
        font-size: 1.7rem;
    } 

    .homepage-townname-motto    {
        padding: 1rem;
        flex: 1 1 100%;
    }
}