@media  (min-width: 64em)   {
    body    {
        font-size: 1.3rem;
    }

    h1  {
        font-size: 1.5rem;
        margin-left: -.2rem;
    }
    .heading div   {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    header span {
        font-size: medium;
    }

    h2  {
        font-size: 1.2rem;
    }

    p   {
        font-size: 1.1rem;
    }

    .navigation a   {
        font-size: 1.1rem;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }
}