@media  (min-width: 64em)   {
    body    {
        font-size: 1.3rem;
    }

    h1  {
        font-size: 2rem;
        margin-left: -.2rem;
    }
    .heading div   {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .heading  {
        padding: 1rem;
    }

    .heading img    {
        width: 7rem;
    }

    header span {
        font-size: medium;
    }

    p   {
        font-size: 1.1rem;
    }

    .navigation a   {
        font-size: 1.1rem;
    }

    .hero h2    {
        margin: 5rem 0 2rem 0;
    }

    article img   {
        float: right;
        width: 320px;
        margin: 0;
    }

    main {
        max-width: 980px;
        margin: 0 auto;
    }
}