@media (min-width:32.5em) {
   
    body    {
        font-size: 1rem;
    }

    .heading  {
        padding: .7rem;
    }

    .heading img    {
        width: 5.5rem;
    }

    h1  {
        font-size: 1.6rem;
    }

    p   {
        font-size: .95rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: flex;
        flex: 1 1 100%;
        align-items: center;
        justify-content: center;
    }

    .navigation a   {
        flex: 1 1 100%; 
        text-align: center;
    }

    img {
        width: 100%;
    }
}