@media (min-width:32.5em) {
   
    body    {
        font-size: 1rem;
    }

    .heading  {
        padding: .7rem;
    }

    .heading img    {
        width: 5.5rem;
    }

    h1  {
        font-size: 1.6rem;
    }

    p   {
        font-size: .95rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: flex;
        flex: 1 1 100%;
        align-items: center;
        justify-content: center;
    }

    .navigation a   {
        flex: 1 1 100%; 
        text-align: center;
    }

    .heroSummary    {
        padding: .3rem 1.1rem 1.1rem 1rem;
        max-width: 320px;
        background: rgb(13, 9, 146);
        position: absolute;
        top: 20%;
        left: 4%;
        color: whitesmoke;
        box-shadow: 0 0 10px 2px white;
        font-size: .75rem;
        opacity: .9;
        line-height: 1.5;
    }
    
    .heroSummary h3 {
        padding: 0;
        margin-bottom: 5px;
    }
    
    .heroSummary hr {
        margin-bottom: 10px;
    }

    .heroSummary {
        width: 350px;
        font-size: .85rem;
    }

    .weatherSummary {
        display: block;
        margin: 3rem 1.2rem;
    }

    .weatherTable {
        display: flex;
        justify-content: center;
    }

    .weatherTable div {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(13, 9, 146);
        align-items: center;
        justify-content: space-between;
    }

    .weatherTable div span {
        padding: 10px;
    }

    .weather {
        width: 100px;
    }

    .cloud {
        width: 55px;
    }

    .day  {
    
        background-color: rgb(13, 9, 146);
        color: white;
    }

    .temp  {
        background-color: rgb(13, 9, 146);
        color: white;
    }

    .weatherTable img {
        justify-self: center;
    }

    footer img {
        max-height: 300px;
    }

    .top-footer h2 {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    img {
        width: 100%;
    }

    .social img {
        width: 50px;
    }

    #linkedin   {
        width: 46px;
    }

    article h3 {
        font-size: 1.5rem;
        text-align: left;

    }

    article p {
        font-size: 1rem;
    }

    article a {
        font-size: 1rem;
    }

   
}