@media (min-width:32.5em) {
    .navigation li:first-child {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
}