*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.ad {
    background-color: greenyellow;
    padding: 1rem 1.5rem;
    color: red;
    text-align: center;
    font-weight: 700;
}

body   {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: .85rem;
}

p   {
    font-size: .8rem;
}

header, footer  {
    background-color: rgb(4, 4, 65);
    padding: .3rem;
}

footer {
    font-size: .6rem;
}

.heading    {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    color: rgb(255, 215, 15);
    justify-content: center;
    font-weight: 600;
}

.heading span   {
    font-style: italic;
}

h1  {
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
    color: rgb(78, 191, 248);
}

header  img {
    width: 4.5rem;
    margin-bottom: -6px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 999999;
}

.navigation {
    background-color: rgb(13, 9, 146);
}

.navigation a#menuButton:hover  {
    background-color: rgb(13, 9, 146);
    color: white;
}

.navigation li  {
    list-style: none;
    cursor: pointer;
}

.navigation li:hover    {
    background-color: rgb(255, 215, 15);
}

.navigation li:hover  a  {
    color: rgb(4, 4, 65);
    font-weight: 600;
}

a {
    text-decoration: none;
    color: rgb(255, 215, 15);
    font-weight: 500;
    display: block;
    padding: 1rem;
}

.navigation li:first-child  {
    display: block;
    font-size: 1.3rem;
}

.navigation li  {
    display: none;
}

.navigation a#menuButton::before    {
    content: "☰Menu";
    font-weight: 500;
}

.responsive li  {
    display: block;
}

.responsive a#menuButton::before    {
    content: "❌";
    font-size: large;
}

.hero   {
    position: relative;
}

.heroSummary    {
    padding: .3rem 1.1rem 1.1rem 1rem;
    margin: .5rem 1rem 0 1rem;
    background: rgb(13, 9, 146);
    color: white;
    box-shadow: 0 0 10px 2px white;
    font-size: .75rem;
}

.heroSummary hr {
    margin-bottom: .5rem;
}

.weatherSummary {
    display: none;
}

section {
    color: rgb(4, 4, 65);
}

section h2, h3 {    
    text-align: center; 
    margin: 10px;   
}

article   {
    border: 1px solid white;
    margin: 1rem .5rem;
    box-shadow: 0 0 5px 0 rgb(255, 215, 15);
    color: rgb(13, 9, 146);
    padding: 1rem;
    line-height: 1.5;
    background-color: rgb(255, 215, 15);
}

article h3 {
    margin: 10px 0 0 0;
    text-align: left;
}

article span  {
    font-size: small;
    font-style: italic;
    margin: 1px 0;
}


article p   {
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: 600;
}

article a   {
    color: red;
    padding: 0;
    font-size: .9rem;
    font-weight: 600;
    display: inline;
    cursor: pointer;
}

article a:hover {
    color: green;
}

article img {
    margin: 0;
}

.story {
    display: none;
}

.forecast  {
    background-color: rgb(255, 215, 15);
    margin: 0;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
}


.mail   {
    margin-top: .3rem;
    margin-bottom: .15rem;
}

.top-footer img  {
    margin-top: 1rem;
}

footer  {
    padding: 0;
}

.top-footer   {
    background-color: rgb(13, 9, 146);
    padding: 1rem;
    text-align: center;
}   

.top-footer h2 {
    margin-top: 1rem;
    font-size: 1rem;
}

.icon {
    color: rgb(255, 215, 15);
}

.first-icon {
    font-size: 1.2rem;
}

.bottom-footer  {
    padding: 1rem;
    text-align: center;
    color: rgb(255, 215, 15);
}

footer a    {
    color: rgb(255, 215, 15);
}

.social {
    display: flex;
    justify-content: center;
    margin-left: -6px;
    margin-top: -10px;
}

.social img {
    width: 35px;
    border-radius: 80000rem;
    padding: 0;
    margin-right: 5px; 
    transition: .3s; 
}

.social a {
    padding: 0;
    margin: 0;
}

.social a:hover img{
    border-right: 3px solid white;
}

#linkedin   {
    width: 31px;
    margin-top: 1.2rem;
}

