*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4  {
    font-family: 'Sofadi One', cursive;
    font-weight: 900;
}

.ad {
    background-color: greenyellow;
    padding: 1rem 1.5rem;
    color: red;
    text-align: center;
    font-weight: 700;
}

body   {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: .85rem;
    position: relative;
}

h2  {
    margin: 1.4rem 0 0 0;
    padding: .8rem;
    text-align: center;
    color: rgb(4, 4, 65);
}

p   {
    font-size: .8rem;
}

header {
    background-color: rgb(4, 4, 65);
    padding: .6rem .3rem;
    box-shadow: 0 0 15px 3px rgb(4, 4, 65);
}

.heading    {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    color: rgb(255, 215, 15);
    justify-content: center;
    font-weight: 600;
}

.heading span   {
    font-style: italic;
}

h1  {
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
    color: rgb(78, 191, 248);
}

header  img {
    width: 4.5rem;
    margin-bottom: -6px;
}

nav {
    margin-top: 0;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px 3px rgb(4, 4, 65);
    background-color: rgb(13, 9, 146);
    z-index: 99;
}

.navigation a {
    color: rgb(255, 215, 15);
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
}

.navigation li  {
    list-style: none;
    cursor: pointer;
}

.navigation li:not(.current):hover   {
    background-color: rgb(255, 215, 15);
}

.navigation li:not(.current):hover a  {
    color: rgb(4, 4, 65);
    background-color: rgb(255, 215, 15);
}

.navigation li:first-child  {
    display: block;
    font-size: 1.3rem;
}

.navigation li  {
    display: none;
}

.navigation a#menuButton::before    {
    content: "☰Menu";
    font-weight: 500;
}


.current a  {
    color: whitesmoke;
}

.responsive li  {
    display: block;
}

.responsive a#menuButton::before    {
    content: "❌Close";
    font-size: large;
}

.hero   {
    position: relative;
}

#hero-img   {
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
}

.heroSummary    {
    padding: .3rem 1.1rem 1.1rem 1rem;
    margin: .5rem 1rem 0 1rem;
    background-color: rgb(13, 9, 146);
    color: white;
    font-size: .75rem;
}

.heroSummary h3 {
    color: rgb(255, 215, 15);
    font-weight: 900;
    margin: .5rem 0;
}

.heroSummary hr {
    margin-bottom: .5rem;
}

.stats-container    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: self-start;
    color: rgb(255, 215, 15);
}

.tempState  {
    display: block;
}

.stats p    {
    justify-self: end;
    font-weight: 600;
}

.stats span {
    color: whitesmoke;
    font-weight: 600;
}

.stats span {
    font-size: .9rem;
    color: whitesmoke;
}

.weatherSummary {
    display: none;
}

section {
    color: rgb(4, 4, 65);
}

h3 {    
    text-align: center;  
}

article   {
    border: 1px solid white;
    margin: 1rem 1rem;
    box-shadow: 0 0 5px 0 rgb(4, 4, 65);
    color: rgb(4, 4, 65);
    padding: 1.2rem;
    line-height: 1.5;
    background-color: rgb(255, 215, 15);
    border-radius: 0 0 2rem 2rem;
}

article h3 {
    margin: 10px 0 0 0;
    text-align: left;
}

article span  {
    font-size: small;
    font-style: italic;
    margin: -.2rem 0 0 0;
    font-weight: 600;
}


article p   {
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: 600;
}

article a   {
    color: blue;
    font-size: .8rem;
    font-weight: 600;
    display: inline;
    cursor: pointer;
    font-style: italic;
}

article a:hover {
    color: red;
}

.story {
    display: none;
}


.top-footer img  {
    margin-top: 1rem;
}

.top-footer   {
    background-color: rgb(13, 9, 146);
    padding: 1rem;
    text-align: center;
}   

#contact-info   {
    margin-top: .5rem;
}

.top-footer .contact {
    padding: .4rem;
    color: white;
    max-width: 500px;
    margin: .7rem auto 0 auto;
    box-shadow: 0 0 15px 3px rgb(4, 4, 65);
}

.icon {
    color: rgb(255, 215, 15);
}

.first-icon {
    font-size: 1.2rem;
}

.bottom-footer  {
    padding: 1rem;
    text-align: center;
    color: rgb(255, 215, 15);
    background-color: rgb(4, 4, 65);
    box-shadow: 0 0 15px 3px rgb(4, 4, 65);
}

.social {
    display: flex;
    justify-content: center;
    margin-left: -6px;
    margin-top: -10px;
}

.social img {
    width: 35px;
    border-radius: 80000rem;
    padding: 0;
    margin-right: 5px; 
    transition: .3s; 
}

.social a {
    padding: 0;
    margin: 0;
}

.social a:hover img{
    border-right: 3px solid white;
}

#linkedin   {
    width: 31px;
    margin-top: 1.2rem;
}

#gallery    {
    display: grid;
    justify-content: center;
}

#gallery div {
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0 8px 1px grey;
    margin: .5rem 2rem;
    max-width: 400px;
    color: rgb(255, 215, 15);
}

#gallery img    {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: auto;
}

#gallery picture    {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}

#gallery figcaption {
    padding: .1rem 1rem .5rem .5rem;
    background-color: rgb(13, 9, 146);
    font-weight: 600;
}

/*************** FORM ********************/
form    {
    color: rgb(13, 9, 146);
    font-weight: 900;
    margin: 0 auto;
    padding: 1rem;
}

form p  {
    margin-bottom: 1rem;
    font-family: 'Sofadi One', cursive;
    font-size: 1.1rem;
    color: rgb(4, 4, 65);
    font-weight: 100;
}

fieldset    {
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
    border: 2px solid rgb(13, 9, 146);
}

button  {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: .8rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(4, 4, 65);
    color: white;
    border: 2px solid rgb(4, 4, 65);
    border-radius: .5rem;
    cursor: pointer;
}

button:hover    {
    background-color: rgb(13, 9, 146);
}

legend  {
    margin: 0 1rem;
    padding: 0 .3rem;
    font-weight: 900;
    color: rgb(4, 4, 65);
}

label, input, textarea, select   {
    display: block;
    border-radius: .3rem;
    width: 100%;
}

label.danger:first-child {
    margin-top: -10rem;
}

label   {
    margin: 1.5rem 0;
    font-size: 1.1rem;
}

.danger {
    max-width: 12rem;
    display: block;
}

.danger div   {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-height: 1.5rem;
    margin: .7rem 0;
}

.danger input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .3rem;
    margin-top: .4rem;  
}

input, select, textarea  {
    margin: .2rem 0;
    padding: .6rem .5rem;
    outline: none;
    border: 1px solid rgb(13, 9, 146);
    font-size: 1.1rem;
    background-color: rgb(255, 215, 15);
}

input,select:focus   {
    border-left: 7px solid red;
}

input:required:valid {
    border-left: 7px solid green;
}

.comment-textarea, textarea    {
    max-width: 16rem;
    min-width: 16rem;
    min-height: 10rem;
    width: 100%;
}

form span   {
    color: red;
}


