@media  (min-width: 64em) {
    
    body    {
        width: 1100px;
        margin: 0 auto;
    }

    header  {
        font-size: 1.1rem;
    }
    
    .sections  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 
 
     footer p    {
        display: flex;
        font-size: larger;
     }
 }