:root  {
    /***** FONT FAMILIES *****/
    --h1-ff: 'Cinzel Decorative', 'The Nautigal', cursive;
    --h2-ff: 'Philosopher', sans-serif;
    --b-ff: 'Montserrat', sans-serif;

    /***** FONT SIZES *****/
    --fs-h1: 2.2rem;
    --fs-h2: 1.8rem;
    --fs-h3: 1.4rem;
    --fs-h4: 1rem;
    --fs-p: .9rem;
    
    /****** COLORS *****/
    --primary-clr: #000000;
    --secondary-clr: #ececec;
    --tertiary-clr: #bd0000;

    /**** MARGINS *****/
    --space-sm: .5rem;
    --space-m: 1rem;
    --space-lrg: 2rem; 
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    font-family: var(--b-ff);
    color: var(--primary-clr);
    background-color: var(--secondary-clr);
    line-height: 1.3;
    font-weight: 600;
    font-size: 16px;
}

img {
    max-width: 100%;
}

h2, h3, h4  {
    color: var(--tertiary-clr);
    font-family: var(--h2-ff); 
}

p   {
    font-size: var(--fs-p);
    margin-top: var(--space-sm);
}

h4  {
    font-size: var(--fs-h4);
    margin-top: var(--space-m);
}

h3  {
    margin-top: var(--space-m);
    font-size: var(--fs-h3);
}

h2  {
    margin-top: var(--space-lrg);
    font-size: var(--fs-h2);
}

header  h2  {
    margin-top: 0;
}

h1 {
    color: var(--tertiary-clr);
    text-shadow: 1px 1px var(--secondary-clr);
    font-family: var(--h1-ff);
    font-size: var(--fs-h1);
    font-style: italic;
}

header, footer  {
    background-color: var(--primary-clr);
    padding: var(--space-m);
    text-align: center;
}

nav ul  {
    display: flex;
}

nav li  {
    list-style: none;
    flex: 1 1 auto;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    border-left: 1px solid var(--secondary-clr);
    border-right: 1px solid var(--secondary-clr);
    border-top: 2px solid var(--tertiary-clr);
    border-bottom: 2px solid var(--tertiary-clr);
    text-align: center;
}

nav li:hover   {
    background-color: var(--tertiary-clr);
    border-top: 2px solid var(--primary-clr);
    border-bottom: 2px solid var(--primary-clr);
}

nav a   {
    color: var(--secondary-clr);
    text-decoration: none;
    display: block;
    padding: var(--space-sm);
}

a:not(nav a)   {
    color: firebrick;
    font-style: italic;
}

a:hover:not(nav a) {
    color: red;
}

main    {
    padding: var(--space-m);
}

table   {
    border-collapse: collapse;
    margin-top: var(--space-sm);
}

td, th  {
    border: 1px solid var(--primary-clr);
    padding: var(--space-sm) var(--space-lrg);
}

th  {
    background-color: grey;
    color: var(--secondary-clr);
    font-weight: 600;
}

td:not(.secondary)  {
    color: var(--secondary-clr);
}

.primary    {
    background-color: var(--primary-clr);
}

.secondary  {
    background-color: var(--secondary-clr);
}

.tertiary   {
    background-color: var(--tertiary-clr);
}

.h1 {
    font-family: var(--h1-ff);
}

.h2 {
    font-family: var(--h2-ff);
}

.colored    {
    margin-top: var(--space-sm);
    background-color: var(--tertiary-clr);
    color: var(--secondary-clr);
    padding: var(--space-m);
    border-radius: var(--space-sm);
    box-shadow: 0 0 8px var(--primary-clr);
}

.sitemap    {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: var(--space-m);
}

.sitemap div    {
    color: var(--secondary-clr);
    border: 1px solid var(--secondary-clr);
    text-align: center;
    padding: var(--space-m) 0;
    font-size: .7rem;
}

.home   {
    grid-column: 4/6;
    background-color: var(--primary-clr);
}

.rentals    {
    grid-row: 4/5;
    grid-column: 1/3;
    background-color: var(--primary-clr);
}

.reservations   {
    grid-row: 4/5;
    grid-column: 3/5;
    background-color: var(--primary-clr);
}

.tours  {
    grid-row: 4/5;
    grid-column: 5/7;
    background-color: var(--primary-clr);
}

.contact   {
    grid-row: 4/5;
    grid-column: 7/9;
    background-color: var(--primary-clr);
}

div.top-left    {
    grid-row: 2/3;
    grid-column: 2/5;
    border-bottom: 1px solid var(--primary-clr); 
}

div.top-right    {
    grid-row: 2/3;
    grid-column: 5/8;
    border-bottom: 1px solid var(--primary-clr);
    border-left: 1px solid var(--primary-clr); 
}

div.rentals-arrow    {
    grid-row: 3/4;
    grid-column: 2/3;
    border-left: 1px solid var(--primary-clr);
}

div.reservations-arrow    {
    grid-row: 3/4;
    grid-column: 3/4;
    border-right: 1px solid var(--primary-clr);
}

div.tours-arrow    {
    grid-row: 3/4;
    grid-column: 5/6;
    border-right: 1px solid var(--primary-clr);
}

div.contact-arrow    {
    grid-row: 3/4;
    grid-column: 5/8;
    border-right: 1px solid var(--primary-clr);
}

@media (min-width: 32.5em)  {

    :root   {

    /***** FONT SIZES *****/
    --fs-h1: 2.4rem;
    --fs-h2: 1.9rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.1rem;
    --fs-p: 1rem;
    }

    body   {
        background-color: var(--tertiary-clr);
    }

    main, footer    {
        background-color: var(--secondary-clr);
    }

    main, header   {
        max-width: 900px;
        margin: 0 auto;
    }
}





